page-home {
    background{
        background-image: url()
    }
    .search{
        background-color: white;
    }
    .imgs{
        height:110px;
        width: 150px;
    }
    .card{
        background-color:#488aff ;
    }
    .img{
        border-radius:50%;
         height: 90px;
         width: 100px; 
    }
    .pnum{
        position: relative;
        padding:5px;
        background-color:t#488aff;
        color:white;
    }
}
