<ion-header>
  <ion-navbar color="primary">
    <ion-title >Reset password</ion-title>
  </ion-navbar>
</ion-header>



<ion-content padding class="bg_content">

  <form [formGroup]="userForm" (ngSubmit)="resetPassword()" novalidate>

  <ion-item  class="items" [ngClass]="{'error-border':!userForm.get('email').valid && userForm.get('email').touched}">
  <ion-label floating>Email</ion-label>
  <ion-icon class="icon" name="mail" item-left></ion-icon>
  <ion-input  class="input"  type="email" formControlName="email"></ion-input>
  </ion-item>

     <div *ngIf="userForm.get('email').hasError('required') && userForm.get('email').touched" class="invalid">
      <p ion-text color="danger">Email field is required!</p>
     </div>

      <div *ngIf="userForm.get('email').hasError('minlength') && userForm.get('email').touched" class="invalid">
      <p ion-text color="danger">* Enter a valid Email with 10 or more characters!</p>
      </div>

      <div padding text-center>    
      <button ion-button block full id="button" color="primary" [disabled]="!userForm.valid">Reset password</button>     
      </div>

  </form>
  </ion-content>